.room{
  fill:white;
  -webkit-transition: all 500ms ease-out 0s;
  -moz-transition: all 500ms ease-out 0s;
  -o-transition: all 500ms ease-out 0s;
  transition: all 500ms ease-out 0s;
  text{
    fill:$blue;
    font-size: 35px;
  }
  &:hover{
    text{
      fill:$white;
    }
    fill:$blue;
    cursor:pointer;
    -webkit-transition: all 500ms ease-out 0s;
    -moz-transition: all 500ms ease-out 0s;
    -o-transition: all 500ms ease-out 0s;
    transition: all 500ms ease-out 0s;
  }
}
