.room{
  -moz-transition: all 500ms ease-out 0s;
  -o-transition: all 500ms ease-out 0s;
  -webkit-transition: all 500ms ease-out 0s;
  fill:white;
  transition: all 500ms ease-out 0s;
  text{
    fill:$blue;
    font-size: 35px;
  }
  &:hover{
    text{
      fill:$white;
    }
    -moz-transition: all 500ms ease-out 0s;
    -o-transition: all 500ms ease-out 0s;
    -webkit-transition: all 500ms ease-out 0s;
    cursor:pointer;
    fill:$blue_light;
    transition: all 500ms ease-out 0s;
  }
}
.room-selected{
  fill:$blue;
  text{
    fill:$white;
  }
}

.cls-1,.cls-3,.cls-4{
  fill:none;
}
.cls-2{
  clip-path:url(#clip-path);
}
.cls-3,.cls-4,.cls-5{
  stroke:#818a92;
}
.cls-3,.cls-4{
  stroke-linecap:round;
  stroke-linejoin:round;
}
.cls-3{
  stroke-width:3.31px;
}
.cls-4{
  stroke-width:1.66px;
}
.cls-5,.cls-6{
  fill:#818a92;
}
.cls-5{
  stroke-miterlimit:10;
}
.cls-7{
  fill:#fff;
}
