// BODY
body{
	background-color: #E5F4FF;
}

// TYPOGRAPHY
h1, h3, h4, h5, h6{
	font-weight: bold;
}

h1, h6{
	text-transform: uppercase;
}

p{
	line-height: 1.2;
}

// FORMS

label{
	color: $primary-color;
}

legend{
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

select{
	color: $primary-color;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea{
	color: $primary-color;
}

// HEADER
header{
	margin-top: 20px;
}

.ribbon-container{
	background-color: $primary-color;
	border-radius: 0 $global-radius $global-radius 0;
	//clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
	color: $white;
	margin-left: -20px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	padding: 15px 25px;
}

.ribbon-content{
	margin-left: 20px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
}

.ribbon-content h1, .ribbon-content p{
	line-height: 1;
	margin-bottom: 0;
}

// Content - R Values and Product Descriptions

.product-description-wrapper .grid-x{
	margin-bottom: 10px;
}

.rvalue-card{
	border-radius: $global-radius;
	padding: 15px 5px;
}

.rvalue-card h2{
	color: $white;
	margin-bottom: 0;
}

.product-description{
	background-color: $primary-color;
	border-radius: $global-radius;
	color: $white;
	padding: 5px;
}

.product-description p{
	margin-bottom: 0;
}

// Content - Product Card

.main-product-card{
	background-color: $white;
	border-radius: $global-radius $global-radius 0 0;
	padding: 10px 0;
}

.main-product-card .cell:first-child{
	border-right: 1px solid $medium-gray;
}

.main-product-card .cell p:last-child{
	margin-bottom: 0;
}

.product-card-price{
	background-color: $primary-color;
	color: $white;
	border-radius: 0 0 $global-radius $global-radius;
	padding: 10px;
}

.product-card-price h6{
	line-height: 1;
	margin-bottom: 0;
}

// Content - Project Card
.project-card{
	border: 1px solid $primary-color;
	border-radius: $global-radius;
}

.project-card-content{
	padding: 10px 10px 0;
}

.project-card-content ul{
	line-height: 1.3;
}

.project-card-content ul li{
	font-size: 80%;
}

.project-card .responsive-embed{
	margin-bottom: 0;
}